<cus-upsell-drawer>
    <div class="mightAlso__like_wp">
        <div class="mightAlso__cartupsell">
            <div class="mightAlso__cartupsell__header">
                <div class="mightAlso__cartupsell__title">{{ settings.title_upsell }}</div>
                <div class="mightAlso__cartupsell__pagination">
                    <span class="swiper-pagination"></span>
                </div>
            </div>
            <div class="mightAlso__cartupsell__products">
                <div class="mightAlso__cartupsell__products_swp swiper">
                    <div class="mightAlso__cartupsell__products_swpwp swiper-wrapper">
                        {%- for item_p in collections[settings.collection_upsell].products -%}
                            <div class="mightAlso__cartupsell__item swiper-slide">
                                <div class="mightAlso__cartupsell__item_nt">
                                    {%- if item_p.featured_image != blank -%}
                                        <div class="mightAlso__cartupsell__item_mg">
                                            {{ item_p.featured_image | image_url:width:item_p.featured_image.width | image_tag:preload:true }}
                                        </div>
                                    {%- endif -%}
                                    <div class="mightAlso__cartupsell__item_ct">
                                        <div class="mightAlso__cartupsell__item__contentwp">
                                            <div class="mightAlso__cartupsell__item_title">{{ item_p.title }}</div>
                                            <div class="mightAlso__cartupsell__item_price">
                                                <span class="mightAlso__item_price">{{ item_p.selected_or_first_available_variant.price | money }}</span>
                                                {%- if item_p.selected_or_first_available_variant.compare_at_price > item_p.selected_or_first_available_variant.price -%}
                                                    <span class="mightAlso__item_cprice">{{ item_p.selected_or_first_available_variant.compare_at_price | money }}</span>
                                                {%- endif -%}
                                            </div>
                                        </div>
                                        <div class="mightAlso__item_button" data-upsell-id="{{ item_p.selected_or_first_available_variant.id }}" js-upsell-add-cart>
                                            <span><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" class="icon" data-name="Layer 1" viewBox="0 0 356.35 399.36"> <path d="M147.13,453.12H364.87a69.38,69.38,0,0,0,69.31-69.3V176.64a12.33,12.33,0,0,0-12.29-12.29H348.16V145.92a92.16,92.16,0,0,0-184.32,0v18.43H90.11a12.33,12.33,0,0,0-12.29,12.29V383.82A69.38,69.38,0,0,0,147.13,453.12Zm41.29-307.2a67.58,67.58,0,1,1,135.16,0v18.43H188.42Zm221.18,43V383.82a44.81,44.81,0,0,1-44.73,44.72H147.13a44.81,44.81,0,0,1-44.73-44.72V188.93" transform="translate(-77.82 -53.76)"></path> </svg></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</cus-upsell-drawer>